<nav class="navbar navbar-expand-lg navbar-light">

    <a class="navbar-brand" href="index.html"><img class="navbar-brand-img" src="src/img/logo_small.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
    
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="rezept-des-tages.html">Rezept des Tages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="kontakt.html">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="impressum.html">Impressum</a>
        </li>

     
      </ul>

  
</nav>